
.form-row {
    margin-bottom: 5px;
}

label {
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-right: 4px;
}

.input-field, .week-number {
    display: inline-block;
}

.preformatted {
    background-color: #e0e0e0;
    font-family: monospace;
    white-space: pre;
    padding: 5px;
}
